<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous">
</script>
<script type="text/javascript" src="{{url_for('static', filename = 'canvas2image.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'html2canvas.min.js') }}"></script>
<style>
    #container {
      width: 90%;
      margin: auto;
    }
    #instructions {
      margin: 30px;
      width: 80%
    }
    #window_btns {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .window_btn {
      margin-right: 5px;
    }
    #compass {
      display: inline-block;
      width: 100px;
    }
    #room {
      border: 2px solid #eb7f65;
      width: 500px;
      height: 350px;
      overflow: auto;
      background-color: #fff7e0;
    }
    .Hwindow {
      background-color: lightblue;
      border: none;
      width: 170px;
      height: 20px;
      display: inline-block;
      margin: 3px;
    }
    .Vwindow {
      background-color: lightblue;
      border: none;
      width: 20;
      height: 170;
      display: inline-block;
      margin: 3px;
    }
    .Hwindow:hover, .Vwindow:hover {
      cursor: move
    }
    .icon, .buy {
      border: 2px solid #a3b995;
      border-radius: 4px;
      margin: 5px;
    }
    .buy:hover {
      cursor: auto;
    }
    #wish {
      background-color: white;
      border-radius: 10px;
    }
    #shop {
      margin-right: 5px;
    }
    #organize {
      display: inline-block;
    }
    #info {
      display: inline-block;
      width: 40%;
      height: auto;
      padding-right: 20px;
    }
    table {
      width: 90%;
      margin: auto;
      margin-bottom: 15px;
    }
    th, td {
      color: #a3b995;
    }
    th {
      border-bottom: 2px solid #a3b995;
      padding-bottom: 7px;
    }
    .cream {
      color: #fff7e0;
      font-size: 20px;
    }
    #happy {
      color: #eb7f65;
      margin-left: 30px;
      display: none;
    }
    #happy.show {
      display: inline-block;
    }
</style>

{% extends "layout.html" %}

{% block content %}
    <div id="container">
      <h2 id="instructions" style="color: white;">
        <ol>
            <li>enter your room's dimensions and add windows</li>
            <li>drag plants from your wishlist into your room to an appropriate distance from the closest window</li>
            <li>to remove a plant from your room, drag it back to the wishlist</li>
        </ol>
      </h2>

      <div class="row">
        <div id="info">
          <h4 style="color: #fff7e0; margin-left: 10px"> desired # of plants: {{desired}} </h4>
          <div id="wish">
            <h4 style="color: #eb7f65; margin-left: 10px"> wishlist ({{total}}) <span id="happy"> ~ all plants are happy! ~</span></h4>
            <table id="table">
              <tbody>
                <tr>
                    <th>plant</th>
                    <th>name</th>
                    <th>sunlight needs</th>
                    <th>location</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="organize">
          <!-- manually enter room dimensions -->
            <span class="cream">room dimensions:</span> <input type="text" id="width" style="width: 35px"></input>
            <span class="cream">by</span> <input type="text" id="height" style="width: 35px"></input> <span class="cream">feet</span>
            <button id="submit" class="btn" style="margin-left: 10px"> submit </button>
          <div id="window_btns" >
            <span class="cream">add windows: </span>
            <button class="btn window_btn">horizontal window</button>
            <button class="btn window_btn">vertical window</button>
          </div>

          <h3 class="finished" style="color: white; display: none"> desired number of plants reached! </h3>
          <div id="room" style="display: inline-block;"> </div>
        </div>
      </div>
    </div>

{% endblock %}
