<!--JQuery-->
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- my scripts -->
<script type="text/javascript" src="{{url_for('static', filename = 'item.js') }}"></script>
<script>
    var item_id = {{item_id|tojson}}
</script>

<style>
  #container {
    width: 90%;
    margin: auto;
  }
  #name {
    margin-top: 20px;
  }
  #info {
    color: white;
    margin: 30 0 50 30;
    font-size: 20px;
  }
  #summary {
    color: #eb7f65;
    background-color: #fff7e0;
    padding: 5px;
    width: 45%;
    font-size: 20px;
    margin-left: 30px;
    text-align: center;
    border: 2px solid #eb7f65;
  }
</style>

{% extends "layout.html" %}

{% block content %}

<div id="container">
  <button class="btn" id="back"> back</button>
  <h2 id="name" style="color:white"></h2>
  <div class="row">
    <div id="picture"></div>
    <div class="column" style="width: 60%">
      <div id="summary"></div>
      <div id="info"></div>
    </div>
  </div>
</div>

{% endblock %}
