<!--JQuery-->
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- my scripts -->
<script type="text/javascript" src="{{url_for('static', filename = 'search.js') }}"></script>

<style>
    #next {
      position: absolute;
      top: 75px;
      left: 740px;
      display: none;
    }
    #next.show {
      display: block;
    }
</style>

{% extends "layout.html" %}

{% block content %}
  <h2 style="color: white">which plants do you want? <span style="color: #fff7e0">desired: {{desired}} | wishlist: <span id="totally"> </span></span></h2>

  <div id="filters">
    <button class="btn active" onclick="display_items(data, '')"> show all </button>
    <button class="btn" onclick="display_items(data, 'cacti')"> succulent </button>
    <button class="btn" onclick="display_items(data, 'flowering')"> flowering </button>
    <button class="btn" onclick="display_items(data, 'ivy')"> ivy </button>
    <button class="btn" onclick="display_items(data, 'tree')"> tree </button>

    <span style="color: white; margin-left: 10px;">click on a plant to learn more about it!</span>
    <button class="btn" id="next"> next step</button>
  </div>
  <!-- photo catalog -->
  <div id="items"></div>
{% endblock %}
